.logo {
  width: auto;
  margin: 8px 14px;
  margin-left: 2rem;

}
body {
  padding-bottom: 2000px;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(229, 233, 240, .9);
  display: flex;
}

main {
  position: relative;
}
